body {
    background: #000000;
}
.header {
    background: #850796;
}
.main {
    background: #F4E5F5;
    box-shadow: -4px 7px 34px -6px rgba(92,88,92,1);
}
.item {
    border-radius: 5px;
    background: #850796;
}
.container {
    width: 50%;
}
.content {
    color:  #F4E5F5;
    font-size: 20px;
}
h1 {
    font-weight: 800;
}